@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 3
   Case Problem 1
   
   Layout styles for Slate and Pencil Tutoring
   Author: Ma. Angelica Santiago
   Date:   2/20/2023
   
   Filename: sp_layout.css

*/

/* Window and Body Styles */
html{
   height: 100%;
   min-height: 100%;

}

body{
   width: 95%;
   max-width: 960px;
   min-width: 640px;
   /* to center the body: */
   margin-left: auto;
   margin-right: auto;
   display: grid;
   min-height: 100%;/*fixed the gap made by padding-bottom 30px*/   
}

img{
   display: block;
}

/* CSS Grid Styles */
body{
   /* grid-template-columns: 1fr 1fr 1fr 1fr; */
   grid-template-columns: 25% 25% 25% 25%;
   grid-template-areas: "body body body body";
}

#logo{
   grid-column: span 3;
   width: 100%;
   /* Added to remove the horizontal white space under the logo  */
   height: 100%;
}

/* Horizontal Navigation List Styles */
nav.horizontal, footer{
   grid-column: span 4;
}

/* footer{
   grid-column: span 4;
} */
aside{
   grid-column: span 2;
}
nav.horizontal li{
   display: block;
   width: 12.5%;
   float: left;

}

/* Section Styles */
section img{
   width: 50%; /*makes the image smaller */
   /* margin-top: 0%;
   margin-bottom: 0%;
   margin-left: auto;
   margin-right: auto; */
   margin: 0 auto 0 auto; /*same as above */
}
section p{
   width: 70%; /* shrink the text under the images*/
   margin-top: 0%;
   margin-bottom: 0%;
   margin-left: auto;
   margin-right: auto;
}

/* Customer Comment Styles */
aside{
   width: 75%;
   /* Bottom padding created a gap between the footer and customer comments section when resizing the window? - fixed by min-height under body tag*/
   padding-bottom: 30px;
   /* Added to center the comment section - this happened because aside :nth has space*/
   /* margin-left: auto;
   margin-right: auto; */
   
}

aside:nth-of-type(odd){ /*if aside space :nth, it doesn't work. musn't have space*/
   /* display: grid; */
   justify-self: right;
}

aside img{
   float: left;
   width: 20%;
}

aside p{
   float: left;
   width: 75%;
   margin-left: 5%; 
}



